.responsive{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    
}
.item{
    width: 21%;
    padding: 0.2%;
}

.tom{
    width: 100%;
    height: 100px;
    
}
.block{
    left: 20px;
    
}



@media only screen and (max-width: 378px){
    .item{
        width: 100%;
    }
    .responsive{
        display: block;
    }
}
@media screen and  ( max-width: 1024px) and (min-width: 578px){
    .item{
        width: 46%;
    }
    .responsive{
        flex-wrap: wrap;
    }
}
    

