 /* .thu{
    
    width: 500px;
    height: 300px;
    padding: 30px;
    border: 1px solid ;
    background-color: aqua;
    display: flex; */
    /* flex-direction: column-reverse;  */
    /* flex-direction: row; */
     /* flex-wrap: wrap;  */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* position: relative; */
   /* justify-content: flex-end; */
   /* align-items: flex-end; */
   /* flex-wrap: wrap;
   align-content: flex-end; */




/* }
.box{
    background-color: aliceblue;
    padding: 3px;
    margin: 10px ;
    width: 90px;
    font-size: 30px;
    height: 40px;

}  */
.thu{
   
    display: grid;
    grid-template-columns: 100px 2fr 1fr ;
    /* grid-template-rows: 100px 200px 100px ; */
   grid-auto-rows: minmax(60px,auto);
   grid-template-areas: 
    "aa aa aa"
    " cc bb bb "
    "cc ee ee"
    "dd dd dd "
   ;
    
}
.box{
    background-color: aliceblue;
    border: 1px solid;
   
  
    min-height: 50px;
    /* width: 300px; */
    font-size: 20px;
}
.box-1{
    grid-area: aa;
}
.box-2{
    grid-area: cc;
}
.box-3{
    grid-area: bb;
}
.box-4{
    grid-area: ee;
}
.box-5{
    grid-area: dd;
}